Data-Handling-lab/Data-Handling-lab-concordance.tex
Data-Handling-lab/Data-Handling-lab.R
Data-Handling-lab/Data-Handling-lab.aux
Data-Handling-lab/Data-Handling-lab.log
Data-Handling-lab/Data-Handling-lab.out
Data-Handling-lab/Data-Handling-lab.pdf
Data-Handling-lab/Data-Handling-lab.tex
Data-Handling-lab/Data-Handling-lab.toc
Data-Handling-lab/DataHandling-TSSplot-1.png
Data-Handling-lab/DataHandling-plot-protein-data-1.png
Data-Handling-lab/DataHandling-sumexp-1.png
Data-Handling-lab/DataProteomics.zip
Data-Handling-lab/DataProteomics/
Data-Handling-lab/Rlab-TSSplot-1.png
Data-Handling-lab/Rlab-TSSplot_-1.png
Data-Handling-lab/Rlab-multiDAEx2-1.png
Data-Handling-lab/Rlab-plot-protein-data-1.png
Data-Handling-lab/Rlab-sumexp-1.png
Data-Handling-lab/cache/
Data-Handling-lab/Data-Handling-lab.aux
Data-Handling-lab/Data-Handling-lab.log
Data-Handling-lab/Data-Handling-lab.out
Data-Handling-lab/Data-Handling-lab.pdf
Data-Handling-lab/Data-Handling-lab.tex
Data-Handling-lab/Data-Handling-lab.toc
Data-Handling-lab/DataHandling-TSSplot-1.png
Data-Handling-lab/DataHandling-plot-protein-data-1.png
Data-Handling-lab/DataHandling-sumexp-1.png
Data-Handling-lab/DataProteomics.zip
Data-Handling-lab/DataProteomics/
Data-Handling-lab/Rlab-TSSplot-1.png
Data-Handling-lab/Rlab-TSSplot_-1.png
Data-Handling-lab/Rlab-multiDAEx2-1.png
Data-Handling-lab/Rlab-plot-protein-data-1.png
Data-Handling-lab/Rlab-sumexp-1.png
Data-Handling-lab/cache/
Data-Handling-lab/dplyr-tutorial.Rmd
Data-Handling-lab/proteins.csv
MethodsLab/.Rhistory
MethodsLab/cache/
MethodsLab/figure/
MethodsLab/statisticalMethods-lab.R
MethodsLab/statisticalMethods-lab.aux
MethodsLab/statisticalMethods-lab.log
MethodsLab/statisticalMethods-lab.out
MethodsLab/statisticalMethods-lab.pdf
MethodsLab/statisticalMethods-lab.tex
MethodsLab/statisticalMethods-lab.toc
TestingLab/candidates.csv
TestingLab/cont-table.png
TestingLab/observed-cells.png
TestingLab/testing-lab.Rnw~
/Data-Handling-lab/DataHandling-TSSplot-1.pdf
/Data-Handling-lab/DataHandling-plot-protein-data-1.pdf
/Data-Handling-lab/DataHandling-sumexp-1.pdf
/topicsToAdd.md
/topicsToAdd.md~
*~
*.aux
*.log
*.html
*.pdf
*.toc
*.tex
cache
figure
*.out
introduction_to_ihw.R
introduction_to_ihw.Rmd
testing-lab.R
